body {
  text-align: center;
  font-family: Calibri, "Trebuchet MS", sans-serif;
  font-size: 12px;
  background-color: rgb(255, 255, 241);
  background-size: cover;
}

h1 {
  font-family: "Yeseva One", cursive;
  color: #000;
  font-size: 60px;
  word-spacing: 1px;
  line-height: 35px;
}

h2 {
  font-family: "Yeseva One", cursive;
  color: #000;
  font-size: 34px;
  word-spacing: 1px;
  line-height: 35px;
}

h3 {
  font-size: 20px;
  color: #f096d7;
}

p {
  font-size: 12px;
}

footer {
  padding-top: 15px;
}

.text-container {
  padding-top: 150px;
  padding-bottom: 15px;
}

.icon,
.icon-big {
  color: #f096d7;
  padding: 3px;
}
.icon:hover,
.icon-big:hover {
  color: #fac2ea;
}
.icon {
  font-size: 24px;
}

.icon-big {
  font-size: 50px;
}

.about-section {
  text-align: left;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.section-container {
  padding: 15px;
}
